<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Document</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

</head>

<body style="background-image: url('https://github.com/Aseel-Banna/Full-Stack-Web-Apps/blob/lab13/songr/songr/src/main/resources/songs.jpg?raw=true'); background-repeat: no-repeat;
  background-size: cover">
<p></p>
<p style="text-align:center; color:white; font-size:xx-large; text-transform: uppercase" th:text=${sentence}></p>
</body>
</html>