<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body style="background-image: url('https://github.com/Aseel-Banna/Full-Stack-Web-Apps/blob/lab13/songr/songr/src/main/resources/songs.jpg?raw=true'); background-repeat: no-repeat;
  background-size: cover">
<p></p>
<h1 style="text-align:center; color:white; font-size:xx-large">Songs Application</h1>
<p style="text-align:center; color:white; font-size:x-large">You can view, add, ALBUMS & SONGS</p>
<p style="color:white; font-size:x-large"><a style="color:white; font-size:larger" href="/">Home</a></p>
<p style="color:white; font-size:x-large"><a style="color:white; font-size:larger" href="/songs">View All Songs</a></p>
<p style="color:white; font-size:x-large"><a style="color:white; font-size:larger" href="/addSong">Add A Song</a></p>
<p style="color:white; font-size:x-large"><a style="color:white; font-size:larger" href="/albums">View All Albums</a></p>
<p style="color:white; font-size:x-large"><a style="color:white; font-size:larger" href="/addAlbum">Add An Album</a></p>

<p style="color:white; font-size:x-large">You can use other routes to run the application</p>
<ul>
    <li><a style="color:white; font-size:larger" href="/hello">To view "Hello World!"</a></li>
    <li><a style="color:white; font-size:larger" href="/capitalize/user">To view user in upper case</a></li>
</ul>

<p style="text-align:center; color:white; font-size:xx-large">Note that you cannot add a SONG before adding an ALBUM!</p>
</body>
</html>